<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>    
    <%- include('parts/header.ejs') %>
    <main>
        <h1>Error! Page Not Found!!!!</h1>
    </main>
    <%- include('parts/footer.ejs') %>
</body>
</html>