<!DOCTYPE html>
<html>
<head>
    <title>500</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>    
    <%- include('parts/header.ejs') %>
    <main>
        <h1>Oooopsss! Some Error Occured.</h1>
        <p>We're working on fixing this,sorry for the inconvinience!</p>
    </main>
    <%- include('parts/footer.ejs') %>
</body>
</html>