<!DOCTYPE html>
<html>
<head>
    <title>О компании</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>    
    <%- include('parts/header.ejs') %>
    <main>
         <!--разобраться с корзиной-->
         <!--получение админом книг, их редактирование 
          (ситуация будет схожей на корзинную, поэтому сначала работать там)-->
        <!--общая чистка кода и различные украшательства типа крутых папочек-->
        <!--бэкап данных и все такое-->
        <div class="info">
            <table><tr>
                <td>
                    <img src="../images/info_books.jpg" alt="'Эксклюзивная классика'">
                </td>
                <td>
                    <h2>О специализации на серии</h2>
                    <p>Серия книг "Эксклюзивная классика" представляет собой коллекцию лучших произведений мировой литературы, которые были отобраны и переизданы с особым вниманием к деталям. Каждая книга в этой серии была тщательно отобрана и прошла ряд редакторских правок, чтобы гарантировать высочайшее качество текста.</p>
                    <p>Наша команда экспертов по литературе и редакторов тщательно отбирает книги для этой серии, учитывая их историческое и культурное значение, а также литературное достоинство. Мы стремимся представлять только лучшие произведения, которые смогут заинтересовать и вдохновить наших читателей.</p>
                    <p>Каждая книга в серии "Эксклюзивная классика" имеет особую ценность: книги из этой серии часто содержат уникальные иллюстрации, фотографии и дополнительные материалы, которые помогают погрузиться в атмосферу произведения и лучше понять его значение и контекст.</p>
                    <p>Мы уверены, что каждая книга в этой серии станет настоящим сокровищем для всех, кто ценит истинные литературные шедевры, поэтому специализируемся исключительно на этих книгах.</p>
                </td>
            </tr></table>
        </div>
        <div class="map-discr"><h2>Нас можно найти по следующим адресам:</h2></div> 
        <div class="map-div">
           <div id="map"></div>
            <script src="https://api-maps.yandex.ru/2.1/?apikey=0042cdf6-dea2-4cfa-bcec-a517d310b243&lang=ru_RU" type="text/javascript"></script>
            <script>
              ymaps.ready(init);
            
              function init() {
                var myMap = new ymaps.Map("map", {
                  center: [53.911583, 27.595727],
                  zoom: 13
                });
            
                var myPlacemark1 = new ymaps.Placemark([53.918873, 27.593756], {
                  hintContent: 'Молодежный пункт выдачи',
                  balloonContent: 'Выдача заказов'
                });
            
                var myPlacemark2 = new ymaps.Placemark([53.912091, 27.594754], {
                  hintContent: 'Центр печати',
                  balloonContent: 'Здесь робокопи лучше, чем в пятом корпусе'
                });

                var myPlacemark3 = new ymaps.Placemark([53.911583, 27.595727], {
                  hintContent: 'Административный центр',
                  balloonContent: 'Дела делаются здесь'
                });

                var myPlacemark4 = new ymaps.Placemark([53.903053, 27.598355], {
                  hintContent: 'Инновационный центр',
                  balloonContent: 'Разработка новых дизайнов'
                });

                var myPlacemark5 = new ymaps.Placemark([53.930035, 27.588841], {
                  hintContent: 'Общежитие для работников',
                  balloonContent: 'Они здесь кушают и спят'
                });                

                myMap.geoObjects.add(myPlacemark1);
                myMap.geoObjects.add(myPlacemark2);
                myMap.geoObjects.add(myPlacemark3);
                myMap.geoObjects.add(myPlacemark4);
                myMap.geoObjects.add(myPlacemark5);
              }
            </script>
        </div> 
    </main>
    <%- include('parts/footer.ejs') %>
</body>
</html>