<!DOCTYPE html>
<html>
<head>
    <title>О компании</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>    
    <%- include('parts/header.ejs') %>
    <main>
        <a href="/create-book"><input type="button" class="search-button clear-button" role="button" value="Добавить книгу"></a>
    </main>
    <%- include('parts/footer.ejs') %>
</body>
</html>