<!DOCTYPE html>
<html>
<head>
    <title>О компании</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>    
    <%- include('parts/header.ejs') %>
    <main>
    <div class="img-div"><img src="../images/books_13.png" alt="Обложечка пропала :("></div>
    <div class="button-div">
        <a href="/create-book"><input type="button" class="book-button add-book-button" role="button" value="Добавить книгу"></a>
        <a href="/admin-books"><input type="button" class="book-button get-book-button" role="button" value="Получить книги"></a>
        <a href="/users"><input type="button" class="book-button get-users-button" role="button" value="Получить пользователей"></a>
        <a href="/printing-house"><input type="button" class="book-button get-orders-button" role="button" value="Получить особые заказы"></a>
    </div>
    </main>
    <%- include('parts/footer.ejs') %>
</body>
</html>
