<!DOCTYPE html>
<html>
<head>
    <title>Корзина</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>    
    <%- include('parts/header.ejs') %>
    
    <%- include('parts/footer.ejs') %>
</body>
</html>
