<!DOCTYPE html>
<html>
<head>
    <title>BookSHOP</title>
    <link rel="stylesheet" href="../visual/css/style.css">
</head>
<body>
    <% include('parts/header.ejs') %>
    
    <h1>Welcome to my website!</h1>
    <p>This is the main page of my website.</p>
    <p>Here are some links to other pages:</p>
    <!--<main>aaa</main>-->
    <% include('parts/footer.ejs') %>
</body>
</html>
