<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <%- include('parts/header.ejs') %>
    <main>
        <div class="gr-text">
            <h1>Книжное издательство</h1>
            <p>Мы отличаемся от других высоким уровнем специализации на одной книжной серии, уделяя огромное внимание мельчайшим деталям.</p>
            <p>Поддерживаем начинающих авторов, поэтому совершенно недорого осуществляем их мечты в своей типографии</p>
        </div>
        <!--написать адекватный текст и переставить на другие картинки в слайд-шоу-->
          
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../images/card4.jpg" style="width:100%" alt="Что-то пошло не так"> <!--просто подобрать нормальных картинок-->
                </div>
                <div class="mySlides fade">
                    <img src="../images/card2.jpg" style="width:100%" alt="Что-то пошло не так">
                </div>
                <div class="mySlides fade">
                    <img src="../images/card3.jpg" style="width:100%" alt="Что-то пошло не так">
                </div>
            </div>

            <div class="space"></div>
        </main>
           

    
    <%- include('parts/footer.ejs') %>

    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none"; }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            slides[slideIndex-1].style.display = "block";
            setTimeout(showSlides, 10000);
        }
    </script>
</body>
</html>
