<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <%- include('parts/header.ejs') %>
    <main>
        <div class="gr-text">
            <h1>Типография и эксклюзивная классика</h1>
            <p>Мы отличаемся от других книжных издательств высоким уровнем специализации на одной книжной серии,<br> уделяя огромное внимание <i>мельчайшим деталям</i> и дополнительным материалам.</p>
            <p>А также поддерживаем начинающих авторов, <i>осуществляя их мечты</i> в своей типографии</p>
        </div>
          
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../images/books_4.png" alt="Что-то пошло не так"> 
                </div>
                <div class="mySlides fade">
                    <img src="../images/books_16.png" alt="Что-то пошло не так">
                </div>
                <div class="mySlides fade">
                    <img src="../images/books_8.png" alt="Что-то пошло не так">
                </div>
                <div class="mySlides fade">
                    <img src="../images/books_17.png" alt="Что-то пошло не так">
                </div>
                <div class="mySlides fade">
                    <img src="../images/books_10.png" alt="Что-то пошло не так">
                </div>
                <div class="button-container">
                    <a href="/books"><input type="button" class="transparent-button" role="button" value="В каталог"></a>
                </div>
            </div>

            <div class="space"></div>
        </main>
               
    <%- include('parts/footer.ejs') %>

    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none"; }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            slides[slideIndex-1].style.display = "block";
            setTimeout(showSlides, 5000);
        }
    </script>
</body>
</html>
