<!DOCTYPE html>
<html>
<head>
    <title>Белкнига</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/top-10-belkniga.css">
</head>
<body>    
    <%- include('parts/header.ejs') %>
    <main>
        <div class="top-book-main-poster">
            <img src="../images/0.png" alt="Постер к 'статье'">
        </div>
        <div class="top-book">
            <div class="top-book-description">
                <p><b>Наша коллекция книг -</b> это настоящая сокровищница, наполненная великолепными литературными произведениями, которые обладают волшебством слов. Каждая книга восхищает своим уникальным очарованием и захватывает внимание каждого, кто оказывается перед ней. В этих книгах вы найдете не только вдохновение, но и новые горизонты, открывающиеся перед искушенным читателем, жаждущим погрузиться в таинственный мир словесности. Они будут вашим надежным компасом, проводником сквозь бурные волны моря литературы, открывая перед вами захватывающие пути и потаенные сокровища знаний.</p>
                <p>Мы с большим вниманием подобрали для вас топ-10 книг, способных разбудить самые глубокие эмоции и не оставить равнодушным ни одного читателя. В этом списке собраны произведения, которые не только восхитят ваше воображение, но и погрузят вас в захватывающие приключения, заставляя задуматься над философскими вопросами глубже, чем когда-либо. Каждая книга из этого подбора - настоящая жемчужина литературы, ярко отражающая мастерство ее авторов и обладающая неповторимым обаянием, способным покорить ваше сердце и ум. Откройте для себя этот топ-10 и погрузитесь в мир незабываемых чтений, который ждет вас на его страницах.</p>
            </div>
        </div>
        
        <h2>Начнем обратный отсчет!</h2>

        <div class="top-book">
            <div class="top-book-description">
                <p>10. «Зов Ктулху» (Говард Ф. Лавкрафт) — Дагон, Ктулху, Йог-Сотот и многие другие темные божества, придуманные Говардом Лавкрафтом в 1920-е годы, приобрели впоследствии такую популярность, что сотни творцов фантастики, включая Нила Геймана и Стивена Кинга, до сих пор продолжают расширять его мифологию. Каждое монструозное божество в лавкрафтианском пантеоне олицетворяет собой одну из бесчисленных граней хаоса. Таящиеся в глубинах океана или пребывающие в глубине непроходимых лесов, спящие в египетских пирамидах или замурованные в горных пещерах, явившиеся на нашу планету со звезд или из бездны неисчислимых веков, они неизменно враждебны человечеству и неподвластны разуму. И единственное, что остается человеку – это всячески избегать столкновения с этими таинственными существами и держаться настороже… </p>
            </div>
            <div class="top-book-poster">
                <a href="/books/645ff271e2cca786c1d778fd"><img src="../images/1.jpg" alt="Зов Ктулху"></a>
            </div>
        </div>

        <div class="top-book">
            <div class="top-book-description">
                <p> 9. «Маленькие женщины» (Луиза Мэй Олкотт) — семейная сага, повествующая о судьбах четырех сестер Марч – добросердечной красавицы Мег, «сорванца в юбке» Джо, кроткой и нежной Бесс и талантливой фантазерки Эми.</p>
                <p>…Гражданская война идет далеко на Юге, но ее грозные отголоски достигли и дружной семьи небогатого провинциального пастора Марча – сам он ушел на фронт полковым священником, и жена с дочерьми, как и множество других американок, день за днем живут в страхе трагических известий. Однако никакая война не в силах помешать девочкам взрослеть и превращаться в юных девушек. Девушек с их обычными и трогательными девичьими мечтами и надеждами, радостями, горестями и, конечно, первой любовью…</p>
            </div>
            <div class="top-book-poster">
                <a href="/books/645e79c7772815612c3ab23a"><img src="../images/2.jpg" alt="Маленькие женщины"></a>
            </div>
        </div>

        <div class="top-book">
            <div class="top-book-description">
                <p> 8. «Мартин Иден» (Джек Лондон) — самый известный роман Джека Лондона, впервые напечатанный в 1908-1909 гг.</p>
                <p>Во многом автобиографическая книга о человеке, который «сделал себя сам», выбравшись из самых низов, добился признания. Любовь к девушке из высшего общества побуждает героя заняться самообразованием. Он становится писателем, но все издательства отказывают ему в публикации.</p>
                <p>И как это часто бывает в жизни, пройдя сквозь лишения и унижения, получив отказ от любимой девушки, он наконец становится знаменитым. Но ни слава, ни деньги, ни успех, ни даже возвращение его возлюбленной не могут уберечь Мартина от разочарования в этой насквозь фальшивой жизни. </p>
            </div>
            <div class="top-book-poster">
                <a href="/books/645fe5c1e2cca786c1d778ce"><img src="../images/3.jpg" alt="Мартин Иден"></a>
            </div>
        </div>

        <div class="top-book">
            <div class="top-book-description">
                <p> 7. «Зеленая миля» (Стивен Кинг) — роман-событие, ставший лауреатом премии Брэма Стокера и вдохновивший Фрэнка Дарабонта на создание культового фильма, в котором Том Хэнкс сыграл, возможно, свою лучшую роль.</p>
                <p>«Зеленая миля» повторяет старую историю о получившем дар исцеления мученике, который был осужден людьми на смерть. Не зря инициалы Джона Коффи в английском языке совпадают с инициалами Иисуса Христа...</p>
                <p><i>«Когда призовет Господь на свой суд праведный, Он спросит меня: „Почему ты убил одно из настоящих моих чудес?“ Что я Ему скажу? Что это моя работа?»… </i></p>
            </div>
            <div class="top-book-poster">
                <a href="/books/645ff2fce2cca786c1d778ff"><img src="../images/4.jpg" alt="Зеленая миля"></a>
            </div>
        </div>

        <div class="top-book">
            <div class="top-book-description">
                <p> 6. «Тошнота» (Жан Поль Сартр) — один из наиболее известных произведений французского прозаика Жана Поля Сартра. Впервые книга была опубликована в 1938 году и затронула темы, которые станут основными в творчестве писателя: трагичности и безысходности человеческой жизни, свободы и абсурдности бытия.</p>
                <p>«Тошнота» — это дневник главного героя, жителя вымышленного города Бувиль Антуана Рокантена. Он мучительно старается понять себя. Антуан побывал во многих странах, где собирал материал для исторической книги, а сейчас нигде не работает, ничем конкретным не занят и, в сущности, свободен. Но свобода не приносит ему счастья — наоборот, для Рокантена это тяжелая ноша. Антуан почти ни с кем не общается и отделяет себя от живущей под властью инстинктов толпы… </p>
            </div>
            <div class="top-book-poster">
                <a href="/books/645ff474e2cca786c1d77903"><img src="../images/5.jpg" alt="Тошнота"></a>
            </div>
        </div>

        <div class="top-book">
            <div class="top-book-description">
                <p> 5. «Искусство любить» (Эрих Фромм) — одна из самых известных работ Эриха Фромма — «Искусство любить» — посвящена непростым психологическим аспектам возникновения и сохранения человеком такого, казалось бы, простого чувства, как любовь. </p>
                <p> Действительно ли любовь — искусство? Если да, то она требует труда и знаний. Или это только приятное ощущение?..
                    Для большинства проблема любви — это прежде всего проблема того, как быть любимым, а не того, как любить самому… </p>
            </div>
            <div class="top-book-poster">
                <a href="/books/645ff507e2cca786c1d77905"><img src="../images/6.jpg" alt="Искусство любить"></a>
            </div>
        </div>

        <div class="top-book">
            <div class="top-book-description">
                <p> 4. «Убить пересмешника» (Харпер Ли) — история маленького сонного городка на юге Америки, поведанная маленькой девочкой. История ее брата Джима, друга Дилла и ее отца – честного, принципиального адвоката Аттикуса Финча, одного из последних и лучших представителей старой «южной аристократии». </p>
                <p>История судебного процесса по делу чернокожего парня, обвиненного в насилии над белой девушкой. Но прежде всего – история переломной эпохи, когда ксенофобия, расизм, нетерпимость и ханжество, присущие американскому югу, постепенно уходят в прошлое. «Ветер перемен» только-только повеял над Америкой. Что он принесет?..</p>
            </div>
            <div class="top-book-poster">
                <a href="/books/645ff630e2cca786c1d77909"><img src="../images/7.jpg" alt="Убить пересмешника"></a>
            </div>
        </div>

        <div class="top-book">
            <div class="top-book-description">
                <p> 3. «Триумфальная арка» (Эрих Мария Ремарк) — пронзительная история любви всему наперекор, любви, приносящей боль, но и дарующей бесконечную радость.</p>
                <p>Место действия – Париж накануне Второй мировой войны. Герой – беженец из Германии, без документов, скрывающийся и от французов, и от нацистов, хирург, спасающий человеческие жизни. Героиня – итальянская актриса, окруженная поклонниками, вспыльчивая, как все артисты, прекрасная и неотразимая.</p>
                <p>Время, когда влюбленным довелось встретиться, и город, пронизанный ощущением надвигающейся катастрофы, становятся героями этого романа.</p>
            </div>
            <div class="top-book-poster">
                <a href="/books/645ff7c1e2cca786c1d7790f"><img src="../images/8.jpg" alt="Триумфальная арка"></a>
            </div>
        </div>

        <div class="top-book">
            <div class="top-book-description">
                <p> 2. «О дивный новый мир» (Олдос Хаксли) — культовая антиутопия Олдоса Хаксли, изданная миллионными тиражами по всему миру. Роман о генетически программируемом «обществе потребления», обществе «всеобщего счастья», где все преданы культу развлечений и зависимы от гаджетов, беспорядочного секса и легальных наркотиков. </p>
                <p>Здесь ничего не знают о любви, преданности, свободе. В этом «дивном», не знающем любви и свободы, мире разворачивается трагическая история человека, ставшего чужаком в этом мире.</p>
            </div>
            <div class="top-book-poster">
                <a href="/books/645fed78e2cca786c1d778e8"><img src="../images/9.jpg" alt="О дивный новый мир"></a>
            </div>
        </div>
        
        <div class="top-book">
            <div class="top-book-description">
                <p> 1. «1984» (Джордж Оруэлл) — роман - своеобразный антипод второй великой антиутопии XX века - «О дивный новый мир» Олдоса Хаксли. Что, в сущности, страшнее: доведенное до абсурда «общество потребления» - или доведенное до абсолюта «общество идеи»? </p>
                <p>…В тоталитарном государстве Океании все подчинено культу личности Старшего Брата. Жители лишены гражданских прав и даже свободы мыслить вразрез с партийными лозунгами. Уинстон Смит всю сознательную жизнь трудится в Министерстве правды и демонстрирует полное повиновение идеалам партии. По крайней мере, до тех пор, пока однажды в его руке не оказывается записка от молодой коллеги со словами «Я вас люблю»…</p>
            </div>
            <div class="top-book-poster">
                <a href="/books/645ff6aee2cca786c1d7790b"><img src="../images/10.jpg" alt="«1984»"></a>
            </div>
        </div>
    </main>
    <%- include('parts/footer.ejs') %>
</body>
</html>