.button-div{
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 15em;
}

.img-div img{
    height: 25em;
    width: 100%;
}

.book-button{
  background-color: #dc1079;
  border-radius: 1em;
  color: #000;
  cursor: pointer;
  padding: .8em 1.1em;
  margin-top: 1em;
  margin-left: 1em;
  text-align: center;
  transition: 200ms;
  width: 25em;
  box-sizing: border-box;
  border: 0;
  font-size: 1.2em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.book-button:not(:disabled):hover,
.book-button:not(:disabled):focus {
  outline: 0;
  background: #04cdff;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.book-button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.get-users-button{
  @extend .book-button;
  width: 51.2em;
}

.get-orders-button{
  @extend .book-button;
  width: 51.2em;
}

body {
  margin: 20px;
}
h1 {
  color: #333;
}
.order-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.order-card p {
  margin: 5px 0;
}
.delete-button {
  background-color: #b63676;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 10em;
  margin-left: 1.5em;
}
.user-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.user-card p {
  margin: 5px 0;
}