.book-align {
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 20em;
}

.book-one-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.one-book-image {
  flex: 0 0 30%;
  margin-right: 10em;
  
}

.one-book-image img {
  min-height: 20em;
  max-height: 30em;
  width: auto;
}

.one-book-details {
  flex: 0 0 60%;
}

.one-book-details h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.author {
  font-size: 1.4rem;
  font-style: italic;
}

.description{
  font-size: .9rem;
  max-width: 45em;
}

.author, .description, .tags, .page-count, .price {
  margin-bottom: .8em;
}

.tags strong {
  font-weight: bold;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

form label {
  margin-right: 10px;
}

form input[type="number"] {
  width: 50px;
}

form button {
  margin-left: 10px;
  background-color: #df178f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

form button:hover {
  background-color: #91076f;
}