body {
    font-size: 16px;
    line-height: 1.5;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }
  
  h1 {
    font-family: Arial, sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  strong {
    font-weight: bold;
  }
  
  .shipping {
    margin-top: 20px;
  }
  
  .status {
    margin-top: 20px;
    font-style: italic;
    color: #999;
  }
  
  table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    background-color: rgb(210, 185, 234);
    margin-left: 23em;
  }

  tr {
    border: 4mm ridge rgba(161, 32, 161, .6);
  }

  .book-image {
    height: 20em;
    width: 15em;
    margin-left: 5em;
    background-color: rgb(210, 185, 234);;
  }
  .book-image img {
    height: 17em;
    width: auto;
    cursor: pointer;
  }

  .order-description{
    margin-left: 31em;
  } 
  
.update-data-button {
  background-color: #ac33d4;
  border-radius: .2em;
  color: #000;
  cursor: pointer;
  padding: .4em .7em;
  margin-left: .5em;
  text-align: center;
  transition: 200ms;
  width: 7em;
  box-sizing: border-box;
  border: 0;
  font-size: .7em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.update-data-button:not(:disabled):hover,
.update-data-button:not(:disabled):focus {
  outline: 0;
  background: #a045a0;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.update-data-button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.order-description-history{
  margin-left: 5em;
}

.order{
  @extend .update-data-button;
  width: 10em;
}

.preorder{
  @extend .update-data-button;
  width: 12em;
  font-size: medium;
}

.history{
  @extend .update-data-button;
  width: 20em;
  font-size: medium;
}

input[type="text"] {
  margin-bottom: 10px;
  border-radius: .7em;
  height: 2em;
  width: 10em;
}

.history-button{
  margin-left: 35em;
  margin-bottom: 2em;
}