.bumaga img{
    height: 15em;
    width: auto;
}

.book_obl img{
    height: 17em;
    width: auto;
}

.center-container{
    margin-left: 17em;
    margin-right: 17em;
}

.container{
    margin-left: 2em;
    margin-right: 2.5em;
    margin-bottom: 1.5em;
}

h2{
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 2.2em;
}

h3 {
    text-align: center;
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 1.2em;
  }
  .picture-form img{
    height: 7em;
    width: auto;
  }

  td{
    min-width: 10em;
  }
  



.count-button {
  background-color: #fff000;
  border-radius: 1em;
  color: #000;
  cursor: pointer;
  padding: .8em 1.1em;
  text-align: center;
  transition: 200ms;
  width: 20em;
  box-sizing: border-box;
  border: 0;
  font-size: .9em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.count-button:not(:disabled):hover,
.count-button:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.count-button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.submit-button{
   @extend .count-button;
   
   width: 10em;
   background-color: rgb(104, 209, 104);
}

.clear-button{
    @extend .count-button;
    
    width: 10em;
    background-color: rgb(209, 104, 169);
 }