<footer>
    <div class="_footer_">
      <div class="footer_links">
        <div class="col-footer_links">
          <p>Follow us on social media:</p>
          <ul class="social-media">
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
        <div class="col-footer_links">
          <p>Contact us:</p>
          <ul class="contact-info">
            <li><i class="info-phys-adress"></i>123 Main St, Anytown USA</li>
            <li><i class="info-phys-phone"></i>1-800-555-5555</li>
            <li><i class="info-phys-email"></i>info@company.com</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>