<header>
    <nav class="navbar">
        <a href="/" class="navbar__logo">Главная</a>
        <a href="/books" class="navbar__link">Книги</a>
        <a href="/print" class="navbar__link">Заказ печати</a>        
        <a href="/about" class="navbar__link">О нас</a>
        <a href="/top-10-belkniga" class="navbar__link">Топ-10</a>
    </nav>
    <nav class="nav_login">
        <a href="/auth/me" class="navbar__link">Корзина</a>
        <a href="/nouser" class="navbar__link">Выйти</a>
        <!--<a href="/auth/login" class="navbar__link">Войти</a>
        <a href="/auth/register" class="navbar__link">Зарегистрироваться</a>-->
    </nav>
</header>