<header>
    <%- include('registration.ejs') %>
    <nav class="navbar">
        <a href="/" class="navbar__logo">Главная</a>
        <a href="/books" class="navbar__link">Книги</a>
        <a href="/print" class="navbar__link">Заказ печати</a>        
        <a href="/about" class="navbar__link">О нас</a>
    </nav>
    <nav class="nav_login">
        <a href="/auth/me" class="navbar__link">Корзина</a>
        <a href="/auth/login" class="navbar__link">Войти</a>
        <a href="/auth/register" class="navbar__link">Зарегистрироваться</a>
    </nav>
</header>


<script>
    function show(){
        //регистрация либо всплытием, либо отдельной страницей
    }
</script>